<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookManagementProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BookManagementProgram.Properties.Settings>
            <setting name="LoginId" serializeAs="String">
                <value />
            </setting>
            <setting name="isLoginIdSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GmailID" serializeAs="String">
                <value />
            </setting>
            <setting name="GmailPW" serializeAs="String">
                <value />
            </setting>
            <setting name="DBIP" serializeAs="String">
                <value />
            </setting>
            <setting name="DBID" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPW" serializeAs="String">
                <value />
            </setting>
            <setting name="DB" serializeAs="String">
                <value />
            </setting>
        </BookManagementProgram.Properties.Settings>
    </userSettings>
</configuration>